name: Release Docker hub
on:
  push:
    tags:
    - '*.*.*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  main:
    env:
      BASE_PROJECT: arm-cli
      GRGIT_USER: GitHub
      GRGIT_PASS: ${{ secrets.GITHUB_TOKEN }}
      JFROG_ARGS: --url https://armory.jfrog.io/armory/ --user ${{secrets.ARTIFACTORY_USER}} --password ${{secrets.ARTIFACTORY_PASSWORD}}
      GRADLE_ARGS: -Partifactory_user=${{secrets.ARTIFACTORY_USER}} -Partifactory_password=${{secrets.ARTIFACTORY_PASSWORD}} --info -x dockerClean -x dockerPrepare
    runs-on: ubuntu-latest
    steps:
      - name: Get the version
        id:   get_version
        run:  echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Fetch full history
        run: git fetch --prune --tags --unshallow

      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11

      - name: setup JFROG Cli
        uses: jfrog/setup-jfrog-cli@v1
        with:
          version: 1.32.4

      - name: Login to Artifactory
        run: |
          docker login -u ${{ secrets.ARTIFACTORY_USER }} -p ${{ secrets.ARTIFACTORY_PASSWORD }} armory-docker-local.jfrog.io

      - name: create softlink for docker plugin
        run: |
          rm -fr build/docker
          mkdir -p build
          ln -sf $(pwd) $(pwd)/build/docker

      # Check https://github.com/nebula-plugins/nebula-release-plugin for more information regarding release.useLastTag
      - name: Publish Release
        run: |
          ./gradlew final -Prelease.useLastTag=true docker dockerPush $GRADLE_ARGS

      - name: Run Security Scan
        uses: armory-io/aquasec-scan-action@v0.0.8
        with:
          username: ${{ secrets.AQUA_USER }}
          password: ${{ secrets.AQUA_PASSWORD }}
          url: https://aquasec.armory.io
          image: armory/${{ env.BASE_PROJECT }}:${{ steps.get_version.outputs.VERSION }}
          registry: Artifactory

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_HUB_USER }} -p '${{ secrets.DOCKER_HUB_PASS }}'

      - name: Publish Release to Docker Hub
        run: |
          RELEASE=${{ steps.get_version.outputs.VERSION }}
          echo "Tagging armory-docker-all.jfrog.io/armory/$BASE_PROJECT:$RELEASE to armory/$BASE_PROJECT:$RELEASE"
          docker image tag armory-docker-local.jfrog.io/armory/$BASE_PROJECT:$RELEASE armory/$BASE_PROJECT:$RELEASE
          echo "Pushing image..."
          docker push armory/$BASE_PROJECT:$RELEASE

