name: Scan & Publish Containers
on:
  push:

jobs:
  main:
    env:
      BASE_PROJECT: arm-cli
      GRGIT_USER: GitHub
      GRGIT_PASS: ${{ secrets.GITHUB_TOKEN }}
      JFROG_ARGS: --url https://armory.jfrog.io/armory/ --user ${{secrets.ARTIFACTORY_USER}} --password ${{secrets.ARTIFACTORY_PASSWORD}}
      GRADLE_ARGS: -Partifactory_user=${{secrets.ARTIFACTORY_USER}} -Partifactory_password=${{secrets.ARTIFACTORY_PASSWORD}} --info -x dockerClean -x dockerPrepare
    runs-on: ubuntu-latest
    steps:
      - name: Get the version
        id:   get_version
        run:  echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Cache Build Dependencies
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: gradle-${{ hashFiles('**/*.gradle*') }}
          
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Fetch full history
        run: git fetch --prune --tags --unshallow

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: setup JFROG Cli
        uses: jfrog/setup-jfrog-cli@v1
        with:
          version: 1.32.4

      - name: Login to Artifactory
        run: |
          docker login -u ${{ secrets.ARTIFACTORY_USER }} -p ${{ secrets.ARTIFACTORY_PASSWORD }} armory-docker-local.jfrog.io

      - name: create softlink for docker plugin
        run: |
          rm -fr build/docker
          mkdir -p build
          ln -sf $(pwd) $(pwd)/build/docker

      - name: Publish devSnapshot
        if: github.ref != 'refs/heads/master'
        run: |
          ./gradlew devSnapshot docker dockerPush $GRADLE_ARGS
          echo "::set-env name=BUILD_NUMBER::${{ steps.get_version.outputs.VERSION }}"

      - name: Publish Candidate
        if: github.ref == 'refs/heads/master'
        run: |
          ./gradlew candidate docker dockerPush $GRADLE_ARGS
          echo "::set-env name=BUILD_NUMBER::${{ steps.get_version.outputs.VERSION }}"

      - name: Run Security Scan
        uses: armory-io/aquasec-scan-action@v0.0.8
        with:
          username: ${{ secrets.AQUA_USER }}
          password: ${{ secrets.AQUA_PASSWORD }}
          url: https://aquasec.armory.io
          image: armory/${{ env.BASE_PROJECT }}:${{ env.BUILD_NUMBER }}
          registry: Artifactory
